<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/depinfo</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">x</property>
    <mapping resource="beans/Niveauannee.hbm.xml"/>
    <mapping resource="beans/Matiere.hbm.xml"/>
    <mapping resource="beans/Niveau.hbm.xml"/>
    <mapping resource="beans/Prog.hbm.xml"/>
    <mapping resource="beans/Anneeuniversitaire.hbm.xml"/>
    <mapping resource="beans/Enseignant.hbm.xml"/>
    <mapping resource="beans/Administrateur.hbm.xml"/>
    <mapping resource="beans/Demande.hbm.xml"/>
    <mapping resource="beans/Utilisateur.hbm.xml"/>
    <mapping resource="beans/LigneDemande.hbm.xml"/>
 </session-factory>
</hibernate-configuration>

